<div id="content">
  <div id="actionmenu">
    <%= link_to 'Back', {:controller => 'companies', :action => 'index'} %>
  </div>

  <h2>Settings</h2>

  <p>
    <%= form_for :setting, url: setting_path(@update_frequency_days), method: :patch do |f| %>
        <%= f.label 'Earnings update frequency (days):' %>
        <%= f.text_field :value, value: @update_frequency_days.value %>
        <%= f.submit %>
    <% end %>
  </p>

</div>