<h1>Companies</h1>
<p>
<%= form_tag(companies_path, :method => :get) do %>
	<label for='ticker'><%= 'Ticker' %>:</label>
	<%= text_field_tag 'ticker', params[:ticker] %>
	<%= submit_tag 'Search', :ticker => nil %>
<% end %>
<p>
<%= form_tag(companies_path, :method => :get) do %>
	<label for='name'><%= 'Company Name' %>:</label>
	<%= text_field_tag 'name', params[:name] %>
	<%= submit_tag 'Search', :ticker => nil %>
<% end %>
</p>
<p>
	<%= link_to 'Clear', companies_path %>
</p>
<p>
	<%= link_to 'Queries', queries_path %>
</p>

<table align="center">
	<thead>
		<th><%= sortable 'id', 'ID' %></th>
		<th><%= sortable 'ticker' %></th>
		<th><%= sortable 'exchange' %></th>
		<th><%= sortable 'price' %></th>
		<th><%= sortable 'price_change_pct', 'Change' %></th>
		<th><%= sortable 'calculated_pe', 'PE' %></th>
		<th><%= sortable 'bv_per_share', 'BV/Share' %></th>
		<th><%= sortable 'div_yield', 'Yield' %></th>
	</thead>
	<% @companies.each do |company| %>
		<% text_color = 'color: green !important;' if company.price_change_pct? && company.price_change_pct >= 0 %>
		<% text_color = 'color: red !important;' if company.price_change_pct? && company.price_change_pct < 0 %>
		<tr>
			<td><%= company.id %></td>
			<td><%= link_to company.ticker, company %></td>
			<td><%= company.exchange %></td>
			<td><%= number_with_precision(company.price, precision: 2) if company.price? %></td>
			<td style='<%= text_color %>'><%= number_to_percentage(company.price_change_pct * 100, precision: 2) if company.price_change_pct? %></td>
			<td><%= number_with_precision(company.calculated_pe, precision: 1) if company.calculated_pe? %></td>
			<td><%= number_with_precision(company.bv_per_share, precision: 2) if company.bv_per_share? %></td>
			<td><%= number_to_percentage(company.div_yield * 100, precision: 2) if company.div_yield? %></td>
		</tr>
	<% end %>
</table>
<p>
<%= will_paginate @companies %>
</p>
<br>
<p>
	<%= link_to 'Update Quotes', {:controller => 'companies', :action => 'update', :element => 'quotes'}, :remote => true %>
</p>
<% unless Setting.find_by_name("last_updated").nil? %>
	<p>
		Last Updated: <%= Setting.find_by_name("last_updated").value %>
	</p>
<% end %>