<h1>Companies</h1>
<p>
	<%= link_to 'Add Company', new_company_path %>
</p>

<% years = [] %>
<% years[0] = Date.current.year %>
<% years[1] = (Date.current - 1.year).year %>
<% years[2] = (Date.current - 2.year).year %>
<% years[3] = (Date.current - 3.year).year %>
<% years[4] = (Date.current - 4.year).year %>
<% years[5] = (Date.current - 5.year).year %>
<% years[6] = (Date.current - 6.year).year %>
<% years[7] = (Date.current - 7.year).year %>

<table align="center">
	<thead>
		<th>ID</th>
		<th>Ticker</th>
		<th>Price</th>
		<th>Change</th>
		<th>PE</th>
		<th>Yield</th>
		<% years.each do |year| %>
			<th><%= year.to_s + ' EPS' %></th>
		<% end %>
	</thead>
	<% @companies.each do |company| %>
	<tr>
		<td><%= company.id %></td>
		<td><%= link_to company.ticker, company %></td>
		<td><%= number_with_precision(company.price, precision: 2) %></td>
		<td><%= number_to_percentage(company.change * 100, precision: 2) %></td>
		<td><%= number_with_precision(company.calculated_pe, precision: 1) %></td>
		<td><%= number_to_percentage(company.div_yield * 100, precision: 2) %></td>
		<% years.each do |year| %>
			<td><%= company.earnings.where(year: year).last.value unless company.earnings.where(year: year).empty? %></td>
		<% end %>
	</tr>
	<% end %>
</table>
