<h2>Companies</h2>

<table align="center">
	<thead>
		<th class="hiddencolumn"><%= sortable 'id', 'ID' %></th>
		<th><%= sortable 'ticker' %></th>
		<th class="hiddencolumn"><%= sortable 'name' %></th>
		<th><%= sortable 'price' %></th>
		<th><%= sortable 'price_change_pct', 'Change' %></th>
		<th><%= sortable 'calculated_pe', 'PE' %></th>
		<th><%= sortable 'bv_per_share', 'P/BV' %></th>
		<th><%= sortable 'div_yield', 'Yield' %></th>
	</thead>
	<% @companies.each do |company| %>
		<% text_color = 'color: green !important;' if company.price_change_pct? && company.price_change_pct >= 0 %>
		<% text_color = 'color: red !important;' if company.price_change_pct? && company.price_change_pct < 0 %>
		<tr>
			<td class="hiddencolumn"><%= company.id %></td>
			<td><%= link_to company.ticker, company %></td>
			<td class="hiddencolumn"><%= company.name %></td>
			<td><%= number_with_precision(company.price, precision: 2) if company.price? %></td>
			<td style='<%= text_color %>'><%= number_to_percentage(company.price_change_pct * 100, precision: 2) if company.price_change_pct? %></td>
			<td><%= number_with_precision(company.calculated_pe, precision: 1) if company.calculated_pe? %></td>
			<td><%= number_with_precision(company.p_to_bv, precision: 1) if company.bv_per_share? %></td>
			<td><%= number_to_percentage(company.div_yield * 100, precision: 2) if company.div_yield? %></td>
		</tr>
	<% end %>
</table>
<p>
<%= will_paginate @companies %>
</p>