<%= form_for :company, url: companies_path do |f| %>

  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@company.errors.count, "error") %> prohibited
        this company from being saved:
      </h2>
      <ul>
        <% @company.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

	<p>
		<%= f.label :ticker %><br>
		<%= f.text_field :ticker %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>

<%= link_to 'Back', companies_path %>