<h1><%= @company.name %> - <%= @company.ticker %></h1>

<% years = [] %>
<% years[0] = Date.current.year %>
<% years[1] = (Date.current - 1.year).year %>
<% years[2] = (Date.current - 2.year).year %>
<% years[3] = (Date.current - 3.year).year %>
<% years[4] = (Date.current - 4.year).year %>
<% years[5] = (Date.current - 5.year).year %>
<% years[6] = (Date.current - 6.year).year %>
<% years[7] = (Date.current - 7.year).year %>

<% text_color = 'color: green !important;' if @company.price_change_pct? && @company.price_change_pct >= 0 %>
<% text_color = 'color: red !important;' if @company.price_change_pct? && @company.price_change_pct < 0 %>

<p><%= link_to 'Yahoo Quote', 'http://finance.yahoo.com/q?s=' + @company.ticker, :target => '_blank' %></p>
<p><%= link_to 'Google Quote', 'https://www.google.com/finance?q=' + @company.ticker, :target => '_blank' %></p>
<p><%= link_to 'Morningstar Financials', 'http://financials.morningstar.com/ratios/r.html?t=' + @company.ticker, :target => '_blank' %></p>
<p><%= link_to 'SEC Form 10-k', 'http://www.sec.gov/cgi-bin/browse-edgar?type=10-k&Find=Search&owner=exclude&action=getcompany&CIK=' + @company.ticker, :target => '_blank' %></p>

<table align="center" style='text-align: left;'>
	<tr style="background-color: #fff;">
		<td><strong>Ticker</strong></td>
		<td><%= @company.ticker %></td>
		<td><strong>P/E</strong></td>
		<td><%= number_with_precision(@company.calculated_pe, precision: 1) %></td>

	</tr>
	<tr style="background-color: #fff;">
		<td><strong>Exchange</strong></td>
		<td><%= @company.exchange %></td>
		<td><strong>Div Yield</strong></td>
		<td><%= number_to_percentage(@company.div_yield * 100, precision: 2) if @company.div_yield?%></td>

	</tr>
	<tr style="background-color: #fff;">
		<td><strong>Price</strong></td>
		<td><%= number_with_precision(@company.price, precision: 2) %></td>
		<td><strong>Book Value Per Share</strong></td>
		<td><%= number_with_precision(@company.bv_per_share, precision: 2) %></td>


	</tr>
	<tr style="background-color: #fff;">
		<td><strong>Change</strong></td>
		<td style='<%= text_color %>'><%= number_to_percentage(@company.price_change_pct * 100, precision: 2) if @company.price_change_pct?%></td>
		<td><strong>Price to Book Value</strong></td>
		<td><%= number_with_precision(@company.p_to_bv, precision: 2) %></td>
	</tr>
</table>

<br>

<table align="center">
	<thead>
		<th>Financials</th>
		<% years.each do |year| %>
			<th><%= year.to_s %></th>
		<% end %>
	</thead>
	<tr>
		<td><strong>Earnings Per Share</strong></td>
		<% years.each do |year| %>
			<td><%= @company.earnings.where(year: year).last.value unless @company.earnings.where(year: year).empty? %></td>
		<% end %>
	</tr>
	<tr>
		<td><strong>Dividends</strong></td>
		<% years.each do |year| %>
			<td><%= @company.dividends.where(year: year).last.value unless @company.dividends.where(year: year).empty? %></td>
		<% end %>
	</tr>
</table>

<p>
	<%= link_to 'Delete Company', company_path(@company),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</p>
<p>
	<%= link_to 'Back', companies_path %>
</p>