<div id="menu">
  <h1><%= link_to 'Invest', root_url %></h1>
  <div id="search">
    <%= form_tag(companies_path, :method => :get) do %>
      <label for='search'><%= 'Search' %>:</label>
      <%= text_field_tag 'search', params[:search], size: 10 %>
      <%= submit_tag 'Go', :ticker => nil %>
    <% end %>
  </div>
</div>