<!DOCTYPE html>
<html>
<head>
  <title>Invest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
<%= render "layouts/header" %>
</div>

<div id="main">
<%=yield %>
</div>

<div id="footer">
<%= render "layouts/footer" %>
</div>

</body>
</html>
